/.github/
cache/
.git/
libraries/
logs/
plugins/.paper-remapped/
authlib-injector.log
banned-ips.json
banned-players.json
commands.yml
help.yml
ops.json
permissions.yml
usercache.json
version_history.json
whitelist.json
versions/
lobby/datapacks/
lobby/paper-world.yml
lobby/session.lock
lobby/uid.dat
lobby/data/
lobby/playerdata/
lobby/poi/
lobby/level.dat_old
.console_history
